.nav-img{
    height: 50px;
    width: 47px;
}
.header-image{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.user{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color:azure;
    padding: 1px 10px;
    border-radius: 10px;
}
.user-img-p{
    height: 38px;
    width: 38px;
    border-radius: 50%;
}
.u-name{
    font-weight: 600;
}